<template>
  <div class="home container">
    <div class="home__catalogue">
      <router-link
        v-for="item in catalogueItems"
        :key="item.id"
        class="home__catalogue-item"
        :to="item.url"
      >
        <div
          class="home__catalogue-item-overlay"
          :style="{ backgroundImage: `url(${item.image})` }">

        </div>
        <div class="home__catalogue-item-name">
          {{ item.name }}
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import routerLinks from '@/constants/router';

export default {
  name: 'Home',

  computed: {
    catalogueItems() {
      return routerLinks;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variables';

.home {
  display: flex;

  &__catalogue {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__catalogue-item {
    width: 100%;
    min-height: 500px;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;

    &:hover {
      .home__catalogue-item-name {
        font-size: 32px;
      }

      .home__catalogue-item-overlay {
        opacity: 1;
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__catalogue-item-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    opacity: .6;
    transition: .4s;
  }

  &__catalogue-item-name {
    font-size: 30px;
    color: $white;
    background: $primary-color;
    padding: 20px;
    border-radius: 15px;
    transition: .4s;
    z-index: 1;
  }
}
</style>
