<template>
  <div class="product container">
    <ProductSelector
      class="product__selector"
      :options="product"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import ProductSelector from '@/components/ProductSelector';

export default {
  name: 'ProductPage',

  components: {
    ProductSelector,
  },

  watch: {
    $route(to, from) {
      const { params: { category: newCategory } } = to;
      const { params: { category: oldCategory } } = from;

      if (newCategory !== oldCategory) this.getProduct(newCategory);
    },
  },

  computed: {
    ...mapGetters({
      product: 'productStore/product',
    }),
  },

  methods: {
    ...mapActions({
      getProduct: 'productStore/getProductInformation',
    }),

    getProductByCategory() {
      const { category } = this.$route.params;
      this.getProduct(category);
    },
  },

  mounted() {
    this.getProductByCategory();
  },
};
</script>

<style lang="scss" scoped>
.product {
  width: 100%;
}
</style>
