<template>
  <div class="menu">
    <router-link
      :key="menuItem.id"
      v-for="menuItem in menu"
      class="menu__item"
      :to="menuItem.url"
    >
      {{ menuItem.name }}
    </router-link>
  </div>
</template>

<script>
import routerLinks from '@/constants/router';

export default {
  name: 'Menu',

  computed: {
    menu() {
      return routerLinks;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variables';
.menu {
  display: flex;

  &__item {
    font-size: 18px;
    border-radius: 6px;
    color: $primary-color;
    background: $relative-color;
    padding: 4px 7px;
    text-decoration: none;
    transition: .4s;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background: $secondary-color;
      color: $relative-color;
    }

    &.router-link-exact-active {
      background: $secondary-color;
      color: $relative-color;
    }
  }
}
</style>
