$icon-names: "down-arrow", "cart";

@mixin icons-path($name, $relative-path: null) {
  $path: "~@/assets/icons/#{$relative-path}/#{$name}.svg";

  @if ($relative-path ==null) {
    $path: "~@/assets/icons/#{$name}.svg"
  }

  &.icon-#{$name} {
    background-image: url($path);
  }
}

.icon {
  display: flex;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  @each $icon-name in $icon-names {
    @include icons-path($icon-name);
  }
}