<template>
  <header class="header container">
    <router-link to="/" class="header__logo">print.com</router-link>
    <Menu class="header__menu" />
    <Cart class="header__cart" />
  </header>
</template>

<script>
import Menu from '@/components/base/Menu';
import Cart from '@/components/base/Cart';

export default {
  name: 'Header',

  components: {
    Menu,
    Cart,
  },
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variables';
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: $primary-color;
  color: $white;
  margin-bottom: 50px;

  &__logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: $white;
  }
}
</style>
