<template>
  <div class="property">
    <div class="property__title">{{ property.title }}</div>
    <div class="property__options" @click="openMenu">
      <div
        class="property__value"
        :class="{
          'property__value--disabled': hasNoAvailableOptions,
        }"
        v-click-outside="closeMenu"
      >
        {{ propertyValue }}
      </div>

      <div :class="{
          'property__options-list--visible': isOpen
        }" class="property__options-list">
        <div :key="option.slug" v-for="option in allowedOptions" class="property__option-item"
          @click="setOption(option)">
          {{ option.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SelectorProperty',

  data: () => ({
    isOpen: false,
  }),

  computed: {
    propertyValue() {
      const { value } = this;
      if (value) return value;

      return '-';
    },

    allowedOptions() {
      const { options } = this.property;
      if (!this.excluded.length) return options;

      const excludedOptions = this.excluded;
      const allowedOptionsList = options.filter((option) => {
        const { slug } = option;
        const isOptionAllowed = !excludedOptions.includes(slug);
        return isOptionAllowed;
      });

      return allowedOptionsList;
    },

    hasNoAvailableOptions() {
      const { allowedOptions } = this;
      return allowedOptions.length === 0;
    },
  },

  props: {
    property: {
      type: Object,
      required: true,
    },
    excluded: {
      type: Array,
      default: () => ([]),
    },
    value: {
      type: String,
      default: '',
    },
  },

  methods: {
    openMenu() {
      this.isOpen = true;
    },

    closeMenu() {
      this.isOpen = false;
    },

    setOption(option) {
      const { property: { slug: propertySlug } } = this;

      const optionToSet = {
        propertySlug,
        ...option,
      };

      this.$emit('change', optionToSet);
      this.closeMenu();
    },
  },

};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/icons';
@import '~@/assets/scss/variables';

.property {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__options {
    position: relative;
  }

  &__value {
    background: $secondary-color;
    font-size: 18px;
    padding: 10px 7px;
    border-radius: 3px;

    &--disabled {
      background: $image-background-color;
    }

    &:after {
      @extend .icon;
      @extend .icon-down-arrow;

      content: ' ';
      position: absolute;
      height: 12px;
      width: 12px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__options-list {
    display: none;

    &--visible {
      display: flex;
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      background: $secondary-color;
      z-index: 1;
    }
  }

  &__option-item {
    padding: 4px 7px;
    transition: .4s;
    cursor: pointer;

    &:hover {
      background: $primary-color;
      color: $secondary-color;
    }
  }
}
</style>
