<template>
  <div id="app">
    <Header class="app__header" />
    <transition name="slide">
      <router-view v-slot="{ Component, route }">
        <component :is="Component" :key="route.path" />
      </router-view>
    </transition>
  </div>
</template>

<script>
import Header from '@/components/base/Header';

export default {
  name: 'App',

  components: {
    Header,
  },
};
</script>

<style lang="scss" scoped>
#app {
  font-family: 'Open Sans', sans-serif;
}
</style>
