<template>
  <div class="selector">
    <div class="selector__image">
      Product Image
    </div>

    <div class="selector__props">
      <div class="selector__props-items">
        <Select
          class="selector__props-item"
          :key="property.slug"
          v-for="property in options.properties"
          :property="property"
          :excluded="getExclusionsByProperty(property)"
          :value="getPropertyValueFromOptions(property)"
          @change="setOptions"
        />
      </div>

      <div class="selector__amount">
        <div class="selector__amount-title">Enter amount:</div>

        <div class="selector__amount-input-block">
          <input
            class="selector__amount-input"
            type="number"
            @input="$event => setAmount($event.target.value)"
          />

          <div
            v-if="error"
            class="selector__amount-input-error">
            {{ error }}
          </div>
        </div>

        <button
          class="selector__amount-order"
          @click="validateAndAddToCart"
        >Buy</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import Select from '@/components/Select';
import getExclusionRulesForInputs from './ProductSelector.utils';

export default {
  name: 'ProductSelector',

  components: {
    Select,
  },

  data: () => ({
    error: '',
  }),

  computed: {
    ...mapGetters({
      productSKU: 'selectorStore/sku',
      selectedOptions: 'selectorStore/selectedOptions',
      excludedOptions: 'selectorStore/excludedOptions',
      productsAmount: 'selectorStore/amount',

      excludes: 'productStore/exclusions',
      maxDesigns: 'productStore/maxDesigns',
      productTitles: 'productStore/titles',
    }),
  },

  props: {
    options: {
      type: Object,
      required: true,
    },
  },

  updated() {
    this.setSKU(this.options.sku);
  },

  methods: {
    ...mapActions({
      setSKU: 'selectorStore/setSKU',
      selectOption: 'selectorStore/selectOption',
      setAmount: 'selectorStore/setAmount',
      addExcludedOptions: 'selectorStore/addExcludedOptions',

      addProductToCart: 'cartStore/addProductToCart',
    }),

    validateAndAddToCart() {
      this.error = '';

      const {
        selectedOptions, productSKU, productsAmount, maxDesigns,
      } = this;
      if (!selectedOptions) this.error = 'Pick options to make an order.';
      if (!productsAmount) this.error = 'At least one product should be ordered.';
      if (productsAmount > maxDesigns) this.error = `More than ${maxDesigns} are not allowed.`;

      if (!this.error) {
        const productTitle = productsAmount > 1
          ? this.productTitles.plural
          : this.productTitles.single;

        this.addProductToCart({
          name: `x${productsAmount} ${productTitle}`,
          sku: productSKU,
          options: selectedOptions,
        });
      }
    },

    getPropertyValueFromOptions(property) {
      const { selectedOptions } = this;
      const isThereAnyOptionThatFits = selectedOptions.some(
        (selectedOption) => selectedOption.propertySlug === property.slug,
      );

      if (isThereAnyOptionThatFits) {
        const optionsByProperty = selectedOptions.find((selectedOption) => {
          const { propertySlug } = selectedOption;
          return propertySlug === property.slug;
        });

        return optionsByProperty.name;
      }

      return '';
    },

    setOptions(option) {
      const { slug: optionSlug, propertySlug } = option;

      const rulesToExclude = getExclusionRulesForInputs({
        optionSlug,
        propertySlug,
      }, this.excludes);

      this.addExcludedOptions(rulesToExclude);
      this.selectOption(option);
    },

    getExclusionsByProperty({ slug }) {
      const exclusionList = this.excludedOptions.find((ruleSet) => {
        const { property: exclusionProperty } = ruleSet;
        return exclusionProperty === slug;
      });

      if (!exclusionList) return [];
      return exclusionList.options;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '~@/assets/scss/variables';

.selector {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: $banner-color;
  border-radius: 14px;
  box-sizing: border-box;

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $image-background-color;
    width: 100%;
    text-align: center;
    min-height: 200px;
    margin-bottom: 20px;
  }

  &__props {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__props-items {
    width: 50%;
  }

  &__props-item {
    flex: 0 0 50%;
    border-bottom: 1px solid $primary-color;
    padding: 10px;
    box-sizing: border-box;
    justify-content: flex-end;
  }

  &__amount {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
  }

  &__amount-input {
    height: 40px;
    padding-left: 10px;
    width: auto;
    margin: 10px 0;
  }

  &__amount-order {
    height: 40px;
    background: $primary-color;
    color: $white;
    font-weight: bold;
    width: 194.5px;
    transition: .4s;

    &:hover {
      cursor: pointer;
      background: lighten($primary-color, 10%);
    }
  }
}
</style>
