<template>
  <div class="cart">
    <div class="icon icon-cart cart__icon"></div>
    <div class="cart__menu">
      <div class="cart__products" v-if="cartHasProducts">
        <div
          class="cart__product"
          v-for="product in cartProducts"
          :key="`${product.sku}_${product.amount}`"
        >
          <div class="cart__product-image"></div>
          <div class="cart__product-name">{{ product.name }}</div>
        </div>
      </div>
      <div class="cart__no-products" v-else>
        No items in cart yet.
      </div>
      <button v-if="cartHasProducts"  class="cart__clear" @click="clearCart">Clear cart</button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Cart',

  computed: {
    ...mapGetters({
      cartProducts: 'cartStore/productsInCart',
    }),

    cartHasProducts() {
      return this.cartProducts.length;
    },
  },

  methods: {
    ...mapActions({
      clearCart: 'cartStore/clearCart',
    }),
  },

};
</script>

<style lang="scss">
@import '~@/assets/scss/icons';
@import '~@/assets/scss/variables';

.cart {
  position: relative;

  &:hover {
    .cart__menu {
      display: flex;
    }
  }

  &__icon {
    height: 24px;
    width: 24px;
  }

  &__menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: $white;
    border-radius: 6px;
    min-width: 300px;
    box-shadow: 0 0 20px #333;
    padding: 14px;
    flex-direction: column;
  }

  &__no-products {
    color: black;
  }

  &__clear {
    margin-top: 14px;
    display: block;
    width: 100%;
    height: 40px;
    background: $primary-color;
    color: $white;
    border-radius: 6px;
    cursor: pointer;
  }

  &__product {
    display: flex;
    align-items: center;
    color: black;
  }

  &__product-image {
    height: 20px;
    width: 20px;
    background: $image-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    content: '?';
    color: $white;
    margin-right: 20px;
  }
}
</style>
